html,
body {
  background-color: #256cdf;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid #504ecf;
  opacity: 80%;
}

.navbar-nav li a {
  color: white;
  margin: auto 25px;
}

.navbar-nav li a:hover {
  color: #ffde26;
  outline: #be2c00;
}

.nav-link:active {
  color: rgb(14, 10, 7);
}

/* HOME ----------------------------------------------------------*/
/* .section.top { */
#home {
  background: url("../img/coffee_keyboard_background.jpg") center center
    no-repeat;
  opacity: 0.95;
  height: 95%;
  /* width: 100%; */
  display: flex;
  align-items: center;
}

.index-message {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.index-message h1 {
  font-size: 54px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 2px black;
}

/* ABOUT ----------------------------------------------------------*/
/* .section.second { */
#about {
  /* height: 100%; */
  background-color: #272727;
  color: white;
  height: 900px;
  padding: 100px 0;
}

/* .section.second h2 { */
#about h2 {
  color: #cfd8dc;
}

#about-content {
  margin: 0px;
  padding: 75px 0px;
  /* width: 100%; */
}

#profile-pic {
  height: 250px;
  width: 225px;
  display: block; /* NOTE: Look up why this works (to properly center the image) */
  margin: auto;
}

.profile-box {
  padding: 25px;
  /* border: 3px solid navy; */
  display: flex;
  /* justify-content: center; */
}

/* These are for the style divs that go around my beautiful face*/
.style-box {
  border: 3px solid;
  display: flex;
  margin: auto;
}

.style-box.inner {
  border-color: #b30606;
  background-color: #b30606;
  height: 275px;
  width: 250px;
  /* display: flex; */
}

.style-box.middle {
  border-color: #c90e0e;
  background-color: #c90e0e;
  height: 300px;
  width: 275px;
  /* display: flex; */
}

.style-box.outer {
  border-color: #d80808;
  background-color: #d80808;
  height: 325px;
  width: 300px;
  /* display: flex; */
}

/* .style-box.outer-outer {
    border-color: limegreen;
    height: 350px;
    width: 350px;
    display: flex;
} */

/* SKILLS ----------------------------------------------------------*/
/* .section.skills { */
#skills {
  height: 900px;
  padding: 40px 0;
  background-color: #be3a3a;
  display: inline-flexbox;
}

.skills-container {
  margin: 50px;
  /* background-color: #cc4646; */
  background-color: #38791e;
  padding-bottom: 50px;
}

#skills-title {
  margin: 25px 0px 25px 200px;
}

#skills-title h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #eed5d5;
}

#skills-title h1 {
  font-family: "Merriweather", serif;
  color: #16275a;
  /* font-weight: 700; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

#skills-title h4 {
  margin-top: 30px;
  /* font-size: 36px; */
}

.icon-divider {
  background-color: rgb(151, 49, 129);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.icon-div {
  /* background-color: rgb(7, 24, 78); */
  display: inline-block;
  /* text-align: center; */
  margin: 20px 35px;
  padding: 10px 10px 5px 10px;
}

/* .icon-divider.icon-bottom-half .icon-div {
  margin: 20px 35px;
} */

.devicon {
  font-size: 72px;
  color: white;
}

.icon-div h5 {
  color: white;
  margin-top: 15px;
}

/* CONTACT ----------------------------------------------------------*/
/* .section.contact { */
#contact {
  height: 750px;
  padding-top: 15px;
  position: relative;
  background-color: #ffffe0;
}

#contact-title h1 {
  font-family: "Merriweather", serif;
  margin-bottom: 30px;
}

.contact-container {
  margin: 75px;
  background-color: #70b7f1;
}

.form-label {
  font-size: 20px;
}

#text-input {
  resize: none;
}

#submit-btn {
  padding: 5px 60px;
  font-family: "Merriweather", serif;
}

/* FOOTER ---------------------------------------------------------- */
#the-footer {
  background: #0d6efd;
  color: white;
  /* position: absolute; */
  /* bottom: 0; */
  border-top: 2px solid #504ecf;
  width: 100%;
  /* height: 0px; */
}

.footer-row {
  /* display: flex; */
  text-align: center;
  width: auto;
  /* margin-top: 15px; */
  margin-left: auto;
  margin-right: auto;
  /* background: #0dfd5d; */
}

.footericon {
  font-size: 45px;
  color: gold;
  /* margin-left: 75px; */
}


#github-icon {
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

#linkedin-icon {
  /* background-color: #0d6efd; */
  height: 40px;
  width: 40px;
  border-radius: 7px;
}
