{% extends "layout.html" %}

{% block head %}

    <title>Contact Me</title>
{% endblock %}

{% block body %}
<div class="contact-container">
    <div class="container section">
        <h2>Talk to me!</h2>

        <div class="row">
          <div class="col-sm-6">
            <form>
              <div class="form-group">
                <label for="theName">Name</label>
                <input type="text" class="form-control" id="theName" placeholder="Your name">
              </div>
              <div class="form-group pt-4">
                <label for="theEmail">Email address</label>
                <input type="email" class="form-control" id="theEmail" placeholder="Your email">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group pt-4">
                <label for="shareText">What would you like to share with us?</label>
                <textarea class="form-control" id="shareText" rows="3"></textarea>
              </div>

    
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
    </div>
</div>

</div>


{% endblock %}