{% extends "layout.html" %}

{% block head %}

    <title>Matt Blacketer - Portfolio</title>
{% endblock %}

{% block body %}
    <div class="section top">
        <div class="index-message">
            <h1>Hello, World.</h1>
            <h1>I'm Matt Blacketer.</h1>
        </div>
    </div>

    <div class="section second">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 offset-lg-1">
                    <img id="profile-pic" src="../static/img/Me.jpg">
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <h6>I'm a <span style="color: yellow">junior web developer.</span></h6>
                    <h2>See what you like?  Have any questions?</h2>
                    <a href="{{ url_for('contact') }}" class="btn btn-md btn-success mt-3">Send me a message!</a>
                    <!-- <p class="lead">Send me a message!</p> -->
                </div>


            </div>
        </div>
    </div>

    <div class="section skills">
        <div class="container">
            <i class="devicon-html5-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-bootstrap-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <!-- <i class="devicon-jquery-plain"></i> -->
            <!-- <i class="devicon-react-original"></i> -->
            <i class="devicon-postgresql-plain"></i>
            <i class="devicon-python-plain"></i>
            <i class="devicon-flask-original"></i>
            <i class="devicon-git-plain"></i>
            <i class="devicon-github-original"></i>
            <i class="devicon-heroku-original"></i>
            <i class="devicon-linux-plain"></i>
            <i class="devicon-bash-plain"></i>
            <i class="devicon-vscode-plain"></i>
        </div>
    </div>

    <div class="section contact">
        <div class="container">
            <form action="https://formspree.io/f/mnqwqdvj" method="POST">
            <label>
                Email:
                <input type="email" name="_replyto">
            </label>
            <label>
                Your message:
                <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button type="submit">Send</button>
            </form>
        </div>
    </div>

{% endblock %}