{% extends "layout.html" %}

{% block head %}

    <title>Matt Blacketer - Portfolio</title>
{% endblock %}

{% block body %}

    <section id="home">
    <!-- <div class="section top"> -->
        <div class="index-message">
            <h1>Hello, World.</h1>
            <h1>I'm Matt Blacketer.</h1>
        </div>
    <!-- </div> -->
    </section>

    <!-- <div class="section second"> -->
    <section id="about" class="about">
        <div id="about-content" class="row align-items-center">  <!-- style="background-color: #464646;"> -->
            
            <div class="col-lg-4 offset-lg-1 profile-box">
                <div class="style-box outer">
                    <div class="style-box middle"> 
                        <div class="style-box inner">
                            <img id="profile-pic" src="../static/img/Me.jpg">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <h5>I'm a <span style="color: yellow">Front-End Developer</span> based in Austin, TX.</h5>
                <h2>Like what you see?  Have any questions?</h2>
                <!-- <a href="{{ url_for('contact') }}" class="btn btn-md btn-success mt-3">Send me a message!</a> -->
                <a href="#contact" class="btn btn-md btn-success mt-3">Send me a message!</a>
            </div>
        </div>
    </section>
    <!-- </div> -->

    <!-- <div class="section skills"> -->
    <section id="skills">
        <div class="skills-container">

        <div id="skills-title">
            <h5>Skills & Tools</h5>
            <h1>Look what I can do!</h1>
            <h4>The tools I use to help me succeed:</h4>
        </div>

            <div class="icon-divider icon-top-half">
                <div class="icon-div">
                    <i class="devicon devicon-html5-plain"></i>
                    <h5>HTML</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-css3-plain"></i>
                    <h5>CSS</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-bootstrap-plain"></i>
                    <h5>Bootstrap</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-javascript-plain"></i>
                    <h5>JavaScript</h5>
                </div>
                <!-- <i class="devicon devicon-jquery-plain"></i> -->
                <!-- <i class="devicon devicon-react-original"></i> -->
                <div class="icon-div">
                    <i class="devicon devicon-postgresql-plain"></i>
                    <h5>PostgreSQL</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-python-plain"></i>
                    <h5>Python</h5>
                </div>
            </div>
            
            <div class="icon-divider icon-bottom-half">
                <div class="icon-div">
                    <i class="devicon devicon-flask-original"></i>
                    <h5>Flask</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-git-plain"></i>
                    <h5>Git</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-github-original"></i>
                    <h5>GitHub</h5>
                </div>
                <!-- <div class="icon-div">
                    <i class="devicon devicon-heroku-original"></i>
                </div> -->
                <div class="icon-div">
                    <i class="devicon devicon-linux-plain"></i>
                    <h5>Linux</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-bash-plain"></i>
                    <h5>Bash</h5>
                </div>
                <div class="icon-div">
                    <i class="devicon devicon-vscode-plain"></i>
                    <h5>VS Code</h5>
                </div>
            </div>
        </div>
    </section>
    <!-- </div> -->

    <!-- <div id="contact" class="section"> -->
    <section id="contact">
        <div class="container">
            <form action="https://formspree.io/f/mnqwqdvj" method="POST">
            <label>
                Email:
                <input type="email" name="_replyto">
            </label>
            <label>
                Your message:
                <textarea name="message"></textarea>
            </label>
            <!-- your other form fields go here -->
            <button type="submit">Send</button>
            </form>
        </div>
    </section>
    <!-- </div> -->

{% endblock %}